body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    cursor: pointer;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* src/styles/global.css */

.item-form {
    margin-bottom: 20px;
  }
  
  .item-form div {
    margin-bottom: 10px;
  }
  
  .item-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .item-form input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  
  .item-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .item-form button:hover {
    background-color: #45a049;
  }
  
  /* Стили для списка элементов */
  .item-list {
    margin-top: 20px;
  }
  
  .item-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .item-list li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
  
  .item-list button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .item-list button:hover {
    background-color: #e53935;
  }
  